#duckContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 2%;
  margin: 5% auto;
  height: 100%;
  width: 80%;
}

@media screen and (max-width:700px) {

  #duckContainer {
    width: 100%;
  }
}