.card {
  border: 1px solid var(--border);
  border-radius: 10px;
  position: relative;
  height: 170px;
  width: 170px;
}

.cardFace {
  min-height: 170px;
  min-width: 170px;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cardFace img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.backFace {
  transform: rotateY(180deg);
}

.card.flipped .frontFace {
  transform: rotateY(-180deg);
}

.card.flipped .backFace {
  transform: rotateY(0deg);
}


@media screen and (max-width:600px) {

  .card {
    height: 100px;
    width: 100px;
  }

  .cardFace {
    min-height: 100px;
    min-width: 100px;

  }

  .cardFace img {
    width: 90px;
    height: 90px;
  }
}