.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.cardFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.cardFace img {
  width: 100%;
}

.backFace {
  transform: rotateY(180deg);
}

.card.flipped .frontFace {
  transform: rotateY(-180deg);
}

.card.flipped .backFace {
  transform: rotateY(0deg);
}
