.navbarDiv {
  background-color: var(--navfooter);
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 100%;
  border-radius: 50%;
}

.navbarUl {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* #titleGame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  width: 100%;
  display: flex;
  justify-content: flex-end;
} */
