:root {
  --bgColor: black;
  --navfooter: grey;
  --textColor: white;
  --border: white;
}

body {
  margin: 0;
  background-color: #b4afaf;
}

#root {
  min-height: 100svh;
}

#cardGame {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}